@{
    var orders = new[] {
        new {
            OrderNumber = '№122010210',
            OrderImgSrc = '../img/kaptopres-darnytsa.webp',
            OrderName = "Магнікор, таб. №30",
            Location = "Киевский витаминный завод",
            Recipe = false,
            Quantity = 1,
            Price = 79.77
        },
        new {
            OrderNumber = '№122010212',
            OrderImgSrc = '../img/kaptopres-darnytsa.webp',
            OrderName = "Каптопрес-дарница табл. 50мг/25мг №20",
            Location = "Дарница чао (украина, киев)",
            Recipe = true,
            Quantity = 1,
            Price = 79.77
        },
        new {
            OrderNumber = '№122010213',
            OrderImgSrc = '../img/kaptopres-darnytsa.webp',
            OrderName = "Каптопрес-дарница табл. 50мг/25мг №20",
            Location = "Дарница чао (украина, киев)",
            Recipe = true,
            Quantity = 1,
            Price = 79.77
        }
    };
    decimal totalAmount = orders.Sum(order => order.Price * order.Quantity);
    int totalQuantity = orders.Sum(order => order.Quantity);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        Tabletki
    </title>
</head>

<body>
    <header class="header">
    </header>
    <main class="main">
        <div class="sidebar">
        </div>
        <div class="content-container">
            <div class="content-header">
                <h2 class="h2">Мої броні</h2>
            </div>
            <div class="content-main">
                <div class="booking-container">
                    <div class="booking-container-header">
                        <div class="booking-container-header-top">
                            <div class="booking-container-header-col booking-container-header-col__left">
                                <div class="booking-status">
                                    <div class="status">Бронь створено</div>
                                    <div class="date font-light">04.04.2023 в 09:45</div>
                                </div>
                                <div class="booking-orders">
                                    <ul class="orders-list">
                                        @foreach (var order in orders) {
                                            <li class="orders-item">@order.OrderNumber,</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="booking-container-header-col booking-container-header-col__center">
                                <ul class="venue-info-list">
                                    <li class="venue-info-list">
                                        <span class="font-light">Аптека TAS</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g id="Icons">
                                                        <circle id="Ellipse" cx="12" cy="12" r="7.6875" stroke="#3B9C25" stroke-width="1.125"
                                                        />
                                                        <path id="Vector 2" d="M12 11.25V16.5" stroke="#3B9C25" stroke-width="1.125"
                                                        stroke-linecap="round" />
                                                        <circle id="Ellipse 2" cx="12" cy="8.25" r="0.9375" stroke="#3B9C25" stroke-width="1.125"
                                                        />
                                                </g>
                                        </svg>
                                    </li>
                                    <li class="venue-info-list">
                                        <span class="font-light">Відчинено до 21:00</span>
                                    </li>
                                    <li class="venue-info-list">
                                        <span class="font-light">вул. Саперно-Слобідська 10, Київ</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="booking-container-header-col booking-container-header-col__right">
                                <div class="booking-info">
                                    <div class="booking-info-product">
                                            <div class="product-quantity font-light">@totalQuantity</div>
                                            <div class="product-price font-light">@totalAmount</div>
                                    </div>
                                    <div class="btn-open-main-wrap">
                                        <button id="open-container-main">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <g id="Icons">
                                                                <path id="Vector" d="M10 19L15.5 14L21 19" stroke="#3B9C25" stroke-width="1.5"
                                                                stroke-linecap="round" />
                                                        </g>
                                                </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="booking-container-header-bottom">
                            <div class="booking-numbers">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="Icons">
                                                <circle id="Ellipse" cx="12" cy="12" r="7.6875" stroke="#3B9C25" stroke-width="1.125"
                                                />
                                                <path id="Vector 2" d="M12 11.25V16.5" stroke="#3B9C25" stroke-width="1.125"
                                                stroke-linecap="round" />
                                                <circle id="Ellipse 2" cx="12" cy="8.25" r="0.9375" stroke="#3B9C25" stroke-width="1.125"
                                                />
                                        </g>
                                </svg>
                                <span class="font-light">Назвіть додаткові номери бронювань для отримання рецептурних товарів</span>
                            </div>
                        </div>
                    </div>
                    <div class="booking-container-main">
                        <div class="booking-container-main-left">
                            <ul class="product-list">
                                @foreach (var order in orders) {
                                    <li class="product-item">
                                        <div class="product-item-header">
                                            <div class="product-item-title">@order.OrderNumber</div>
                                        </div>
                                        <div class="product-item-main">
                                            <div class="product-info">
                                                <div class="product-img-wrapper">
                                                    <img src="@order.OrderImgSrc" alt="@order.OrderName">
                                                </div>
                                                <div class="product-text">
                                                    <h4 class="product-title">@order.OrderName</h4>
                                                    <p class="product-subtitle">@order.Location</p>
                                                    @if (order.Recipe) {
                                                        <div class="product-recipe">
                                                            <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.862061 1V10.5455H2.79293V7.49094H4.23514L6.52083 11.1454L3.46153 16H5.6557L7.63672 12.7273L9.6052 16H11.8621L8.80276 11.1182L11.7367 6.45451H9.54251L7.75258 9.44035L6.3036 7.13639C7.55741 6.6273 8.18432 5.64093 8.18432 4.17729C8.18432 3.25001 7.93356 2.51364 7.43203 1.96819C6.83856 1.32273 5.98597 1 4.87426 1H0.862061ZM4.74887 5.63638H2.79293V2.89546H4.71126C5.18771 2.89546 5.55967 3.01364 5.82715 3.25001C6.09463 3.47728 6.22837 3.81365 6.22837 4.2591C6.22837 4.67729 6.09881 5.01365 5.83969 5.2682C5.58057 5.51366 5.21696 5.63638 4.74887 5.63638Z"
                                                                    fill="#6B6B6B" />
                                                            </svg>
                                                            <span>ЗА РЕЦЕПТОМ</span>
                                                        </div>
                                                    }
                                                    <div class="product-quantity">@order.Quantity</div>
                                                </div>
                                            </div>
                                            <div class="product-price">@order.Price</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="total-price-wrapper">
                                <span class="total-price-text">Всього:</span>
                                <span class="total-price">@totalAmount</span>
                            </div>
                        </div>
                        <div class="booking-container-main-right">
                            <div class="accordion-booking">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <div class="status">
                                        </div>
                                        <h4 class="h4">Бронь створено 04.04.2023 09:43:41</h4>
                                    </div>
                                    <div class="accordion-content">
                                        <div class="accordion-content-wrapp">
                                            <p class="accordion-content-text">Бронь передано аптеці, очікуйте підтвердження</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <div class="status">
                                        </div>
                                        <h4 class="h4">Обробка</h4>
                                    </div>
                                    <div class="accordion-content">
                                        <div class="accordion-content-wrapp">
                                            <p class="accordion-content-text">Содержимое аккордеона 2</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <div class="status">
                                        </div>
                                        <h4 class="h4">Очікує вас</h4>
                                    </div>
                                    <div class="accordion-content">
                                        <div class="accordion-content-wrapp">
                                            <p class="accordion-content-text">Содержимое аккордеона 3</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="cancel">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="Icons">
                                                    <circle id="Ellipse 448" cx="12" cy="12" r="9.1875" transform="rotate(-90 12 12)"
                                                    stroke="#FF6262" stroke-width="1.125" />
                                                    <path id="Vector 29" d="M8.25 15.75L15.75 8.25" stroke="#FF6262" stroke-width="1.125"
                                                    stroke-linecap="round" />
                                                    <path id="Vector 30" d="M15.75 15.75L8.25 8.25" stroke="#FF6262" stroke-width="1.125"
                                                    stroke-linecap="round" />
                                            </g>
                                    </svg>
                                    <span>ВІДМІНИТИ</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
    </footer>
    <script src="./js/main.js">
    </script>
</body>

</html>